---
---

.gallery {
    margin-left: -1% !important;
    overflow: auto;
}

.gallery li {
    display: block;
    float: left;
    margin: 0 0 1% 1%;
    width: 19%;
}

.gallery li a {
    color: #777;
    text-align: center;
    text-decoration: none !important;
}

.gallery li a span {
    display: block;
    overflow: hidden;
    padding: 3px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.gallery li a img {
    display: block;
    width: 100%;
}
