---
layout: null
---
body {
    font-family: "Noto Sans", sans-serif;
    font-size: 1rem;
}

.intro-header .big-img {
    margin-top: 0;
    padding-bottom: 0;
}

.intro-header.big-img .page-heading {
    padding: 2rem 0 2rem 0;
}

.portfolio img {
    max-width: none;
}
